@font-face {
  font-family: "shadow";
  src: url(./SanMarinoBeach-2OOLW.ttf);
}

body {
  font-family: "Roboto", Arial, Helvetica, sans-serif;
  margin: 0;
}

#container {
  height: 100vh;
  display: grid;
  grid-template-rows: 1fr 11fr;
}

#header {
  /*border: 2px solid green;*/
  background-color: rgb(235, 208, 84);
  min-height: 65px;
  display: grid;
  grid-template-columns: 285px 1fr;
  position: relative;
}
#logo {
  /*border: 2px solid blue;*/
  margin-left: 25px;
  align-self: center;
  display: flex;
  gap: 20px;
  align-items: center;
  height: 50px;
  width: 260px;
  left: 35px;
}
.imageHeader {
  background: url(./weather.svg);
  content: "";
  background-size: 100%;
  height: 50px;
  width: 50px;
}
.nameHeader {
  font-weight: 700;
  font-size: 30px;
}
.formDiv {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 50px;
}

#form {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 90%;
}
#form label {
  font-weight: 700;
}
#search {
  display: flex;

  align-items: center;
  background-color: rgb(234, 234, 234);
  padding: 8px;
  margin-left: 10px;
  width: 60%;
}
#location {
  border: none;
  outline: none;
  background-color: rgb(234, 234, 234);
  height: 20px;
  font-weight: 700;
  width: 80%;
  margin-right: auto;
}
#location::placeholder {
  font-style: italic;
}
#location:focus::placeholder {
  color: transparent;
}
#submitBtn {
  border: none;
  color: inherit;
  height: 20px;
  width: 20px;
  background: url(./magnifier.svg) no-repeat;
  content: "";
  background-size: 100%;
}

#content {
  /*border: 2px solid purple;*/
  background: linear-gradient(0.25turn, #3f87a6, #ebf8e1, #f69d3c);
  content: "";
  background-size: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px;
}

/*FORECAST LEFT PART*/
#forecastDiv {
  /*border: 2px solid purple;*/
  min-width: 80%;
  min-height: 90%;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
#forecast {
  /*border: 2px solid black;*/
  flex: 1 1 440px;
  min-height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
#switch {
  height: 40px;
  width: 80px;
  margin-left: -10px;
  background-color: rgb(160, 160, 160);
  display: flex;
  justify-content: center;
  align-items: center;
}
#button {
  height: 90%;
  width: 90%;
  display: flex;
  align-items: center;
  position: relative;
}
#square {
  height: 90%;
  width: 50%;
  background-color: rgb(237, 237, 237);
  position: absolute;
  transition: transform 300ms ease-in-out;
}
#square.trigger {
  transform: translate(36px, 0px);
}

#top {
  display: flex;
  justify-content: center;
  align-items: center;
}
#forecastSub1 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 155px;
}
#locationDisplay {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
#temp_c.invisible {
  display: none;
}
#temp_f.invisible {
  display: none;
}
#locationName {
  margin-bottom: -15px;
}
#tempDisplay {
  margin-top: -20px;
  margin-bottom: -35px;
}

#forecastSub2 {
  background: url(./line.svg);
  content: "";
  background-size: 100%;
  height: 150px;
  width: 30px;
  margin-left: 10px;
  margin-right: 10px;
}

#forecastSub3 {
  display: flex;
  flex-direction: column;
  font-weight: 700;
  font-size: 19px;
  width: 155px;
  gap: 15px;
}
#feelslike_c.invisible {
  display: none;
}
#feelslike_f.invisible {
  display: none;
}
#gust_kph.invisible {
  display: none;
}
#gust_mph.invisible {
  display: none;
}

#forecastImage {
  /*border: 2px solid orange;*/
  flex: 1 1 440px;
  min-height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.forecastImage {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 20px;
  border: 2px solid rgb(249, 255, 196);
  height: 70%;
  width: 70%;
}
